<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="main-container">       
        <section class="section login-section">
            <div class="">
                <form action="/main" method="post">
                    <h2>Вход</h2>
                    <p>Имя пользователя: <input type="text" name="username" placeholder="Имя пользователя"></p>
                    <p>Пароль: <input type="password" name="password" placeholder="Пароль"></p>
                    <button type="submit" class="add-btn">Войти</button>
                </form>
            </div>
        </section>
    </div>
</body>
</html>